// ======== Header ===========
.header {
    background: $white;
    display: flex;
    width: 100%;
    height: 80px;

    .headerRow {
        padding: 20px;
        width: 100%;
        box-shadow: 0 0 18px 1px rgba(0, 0, 0, .1);

        .logo {
            display: flex;
            align-items: center;
        }

        .logoIcon {
            width: 28px;
            height: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
            background: $primay;
            border-radius: 5px;
            margin-right: 4px;
            text-decoration: none;
        }

        .logo p {
            color: $black;
            font-weight: 600;
        }

        .profileInfo {
            display: flex;
            align-items: center;
        }

        .profileInfo .icon {
            width: 28px;
            height: 28px;
            color: $white;
            background: $primay;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 4px;
        }

    }
}