.button {
    padding: 10px 20px;
    background-color: $primay;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background 0.3s;
}

.button.disabled {
    background-color: #9ca3af;
    cursor: not-allowed;
}